Bryan Caplan is on fire in this excellent podcast with Robert Wiblin of 80,000 hours:

Bryan Caplan: In the U.S. I’ve heard so many times – I learned Latin and it really improved my score on the SAT because of all the Latin roots of the English vocabulary words. How about you learn some English vocabulary words, wouldn’t that be a little easier?

Robert Wiblin: I’m just… I’m pulling out my hair here.

Bryan Caplan: Well if you wanna pull out your hair a little bit more. Out of all my ultra moderate reforms that I suggested, the one that I stand behind more strongly than any other is abolishing foreign language requirements in the United States. Because there, we’ve got a bunch of facts, which are: hardly any jobs use foreign languages, it takes a lot of time to get any good. And furthermore, in this book I’m able to go and snap together a bunch of pieces of data to show that virtually zero Americans claim to… even claim to speak a foreign language very well in school.

So I say, look, even if it did have these big payoffs, the system is just a waste of time, and people spend years doing it for nothing. And even here, I just run against a brick wall and people say, well in that case we should just improve the teaching of the foreign language.

Well, how about you do that and then get back to me, but continuing to fund the thing that we have, this is garbage!

And again, Washington state from what I understand, now allows kids to use a computer language in place of foreign language. Like, why not do that? Then it’s like, “No, no we need to do both.” People don’t have an unlimited amount of time, and shouldn’t teenagers be able to have a frigging childhood! Like how much of their childhood do you want to destroy with jumping through these stupid hoops?